img.moby {
	float: right;
	height: 200px;
	width: 200px;
	border-radius: 25px;
}

img.chickpea {
	float: bottom;
	height: 50px;
	width: 50px;
}
body {
	background-color: yellowgreen;
}

p{
	font-size: large;
}